# FOR AND WHILE LOOPS

LOOPS-- in programming world some times we keep things repeating , may be you want to repeate 5 statement so one way is copy & paste multiple times or other way is 
if you want to print the datascience 1000 times then you cant copy for thousand times and paste, or manualy this is the reason why we need to apply -> 2 types of loops

In [1]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [3]:
i = 1  # initializing

while i<= 5:  # condition
    print('DS')
    i = i+1 # incremental

DS
DS
DS
DS
DS

In [4]:
i = 5 # initializing

while i>=1: # condition
    print('DS')
    i = i-1 # decrement

DS
DS
DS
DS
DS

In [5]:
i = 1  # initializing

while i<= 5:  # condition
    print('DS:',i)
    i = i+1 # incremental

DS: 1
DS: 2
DS: 3
DS: 4
DS: 5

In [6]:
i = 5 # initializing

while i>=1: # condition
    print('DS:',i)
    i = i-1 # decrement

DS: 5
DS: 4
DS: 3
DS: 2
DS: 1

In [7]:
# we can use nested while loop || loope inside the loop

In [8]:
i = 1

while i<=5:
    print('data science')# when we mention end then the new line won't create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1

    i = i + 1
    print()
#  the output which we got is very lengthy

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [9]:
i = 1

while i<5:
    print('datascience', end=" ")
    j = 1
    while j<=4:
        print('technology',end=" ")
        j = j + 1

    i = i + 1
    print()

datascience technology technology technology technology
datascience technology technology technology technology
datascience technology technology technology technology
datascience technology technology technology technology

In [10]:
# lets use while loop using some numbers
i = 1

while i<=2:
    j = 0
    while j<= 2 :
        print(i*j,end="")
        j += 1

    print()
    i += 1 # we also use i++

012
024

In [11]:
i = 1
while i<=4:
    j = 0
    while j<=3:
        print(i*j, end=' ')
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

FOR LOOP - 
normally while loop it work with iteration or certain some comdition but for loop it will work with sequence (list, string,int)

In [22]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [24]:
name1 =[1,3.5,'hello'] # i want print the value individually

for i in name1:
    print(i)

1
3.5
hello

In [26]:
range(5)

range(0, 5)

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
# print 5 multiplication
for i in range(1,10,3):
        print(i)

1
4
7

  # Break
  # Continue
  # Pass

In [33]:
for i in range(1,11):
    if i == 6:
        print(i)

6

In [35]:
for i in range(1,11):# If you apply breake statement in the loop then it will end the loop
    if i == 6:
        break

    print(i)

1
2
3
4
5

In [37]:
for i in range(1,11):#Skip one step/iteration during the loop 
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

In [39]:
for i in range(1,11):# skip the block of code 
    pass

 # 9th june 2025

In [42]:
# write the code user ask a chocolate from the vendor machine write the basic code
x = int(input('How many chocolates do you want:?'))

i = 1
while i<=x:
    print('chocolate')
    i += 1

How many chocolates do you want:? 4

chocolate
chocolate
chocolate
chocolate

> if the user says i need 10 chocolates but vending machine dont have 10 chocolates & machine has only 5 chocolates so what you do on these scenerio
>

In [44]:
ava = 5

x = int(input('How many chocolates do you want:?'))

i = 1
while i<=x: # if you check user wants 10  chocolates but here 5 are available ,but we got more than 5
    print("Chocolate")
    i += 1 # in  this code we just declared but we didnt applyed any condition to it

How many chocolates do you want:? 6

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate

In [46]:
avaliable_chocolate = 5

x = int(input('How many chocolates do you want:?'))
i = 1
while i<= x:
    if i>avaliable_chocolate:
        break
    print(" chocolates ")
    i += 1

print('Bye for now')

How many chocolates do you want:? 6

 chocolates
 chocolates
 chocolates
 chocolates
 chocolates
Bye for now

In [50]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    if i>available_choclet:
        print('only 5 are avaliable ')
        break
    print("Chocolate")
    i += 1

print('bye for now')

How many choclets you want:? 2

Chocolate
Chocolate
bye for now

In [56]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets you want:? 4

choclet
choclet
choclet
choclet
bye for now

In [58]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [62]:
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [64]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [66]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [72]:
# i dont want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [74]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [76]:
for i in range(1,5):
    i=i+1
    print('# # # # ')

# # # #
# # # #
# # # #
# # # #

In [78]:
for i in range(1,5):
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [80]:
for j in range(4):
    print('#')

#
#
#
#

In [82]:
for j in range(4):
    print('#', end = " ")

# # # #

In [84]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

# # # # # # # #

In [86]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [88]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [90]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode in pycharm

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [92]:
for i in range(4):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #

In [94]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [96]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [98]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [100]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [102]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [104]:
for i in range(1,5):
    print("# "*(5-i))

# # # #
# # #
# #
#

In [106]:
nums = [12,15,18,21,26, 30, 40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [108]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [110]:
nums = [12,14,18,21,25,20]

for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [112]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [114]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [116]:
nums = [10,14,18,21,5,10]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break #it will print only 1 number then it break

10

In [120]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [122]:
nums = [7,14,18,21,23,27,29] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [124]:
nums = [7,14] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found

In [126]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found') # hear else we dont write in if block but we can write in for block only

Number Not Found

In [128]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [134]:
nums = [10,14,18,21,20,27,30] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
30
Not Found

In [136]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [138]:
num = 14

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Not prime Number

In [140]:
num = 13

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Prime Number

In [142]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(5):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 6
Enter the next value 3
Enter the next value 7
Enter the next value 2
Enter the next value 3
Enter the next value 2

array('i', [3, 7, 2, 3, 2])

In [144]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(5):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 4
Enter the next value 4
Enter the next value 3
Enter the next value 2
Enter the next value 4
Enter the next value 5

array('i', [4, 3, 2, 4, 5])

In [154]:
from numpy import *
arr = array([1,2,3,4,5])
print(arr)
type(arr)

[1 2 3 4 5]

numpy.ndarray